build/
.idea/
bower_components/
node_modules
vendor
dist
.tmp
.DS_Store
**/*/.DS_Store
.bower
*.iml
*.log
.grunt/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
