<!doctype html>
<html ng-app="nuBoard">

<head>
  <meta charset="utf-8">
  <title>nuBoard</title>

  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>"/>
  <% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>

  
  <script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-app.js"></script>
  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-firestore.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.css" />
</head>

<body>

<div ng-view></div>

</body>
</html>
